.headerContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-image: var(--default-bg-color);
  width: 100%;
  height: 10rem;
  transition: 0.5s;

  .headerTimer {
    left: 0;
    width: 150px;
    height: 150px;
  }

  .headerTitleContainer {
    margin: 0px 50px;

    h1 {
      font-weight: 400;
    }

    h2 {
      margin-top: -10px;
      font-weight: 300;
    }
  }
}

.headerContainer:hover {
  filter: brightness(0.79);
  transition: 0.5s;
}
