footer {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 50%;
    height: 50px;
    margin: 20px auto;
    border-radius: 50px;
    font-weight: 400;
    background-color: var(--default-bg-color);
    transition: 0.5s;
}

footer:hover {
    transition: 0.5s;
    filter: brightness(0.70);
}