:root {
  --default-text-color: #ffffff;
  --default-bg-color: linear-gradient(
    0deg,
    rgba(205, 205, 205, 1) 0%,
    rgba(93, 74, 121, 1) 100%,
    rgba(50, 23, 89, 1) 100%
  );
  --body-gradient: linear-gradient(
    0deg,
    rgba(205, 205, 205, 1) 0%,
    rgba(93, 74, 121, 1) 24%,
    rgba(50, 23, 89, 1) 100%
  );
  --body-bg-color: #828282;
  --section-bg-color: #6f6f6f;
  --text-default: #191919;
  --bg-color-100: #783cad;
  --bg-color-200: #301346;
}

* {
  font-family: Roboto;
}

body {
  background-image: var(--body-gradient);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
