.backgroundContainer {
  .timeOne {
    position: absolute;
    top: 40%;
    width: 20%;
    height: 35%;
    z-index: -1;
  }

  .timeTwo {
    position: absolute;
    top: 120%;
    right: 0;
    width: 20%;
    height: 30%;
    z-index: -1;
  }
}
